<div class="container">
  <div class="row">
    <div class="card-container">
      <mat-card>
        <mat-card-header>
          <mat-icon matCardAvatar>battery_full</mat-icon>
          <mat-card-title style="text-align: center">
            Akkustand
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-spinner *ngIf="values.length < 1" mode="indeterminate"></mat-spinner>
<!--          <ngx-charts-area-chart-->
<!--            *ngIf="values.length >=1"-->
<!--            [scheme]="stateColorScheme"-->
<!--            [legend]="legend"-->
<!--            [showYAxisLabel]="showYAxisLabel"-->
<!--            [xAxis]="xAxis"-->
<!--            [yAxis]="yAxis"-->
<!--            [yAxisLabel]="yAxisStateLabel"-->
<!--            [timeline]="timeline"-->
<!--            [results]="values"-->
<!--            [activeEntries]="values"-->
<!--            [animations]="animations"-->
<!--            [gradient]="true"-->
<!--            (select)="onSelect($event)"-->
<!--            (activate)="onActivate($event)"-->
<!--            (deactivate)="onDeactivate($event)"-->
<!--          >-->
<!--          </ngx-charts-area-chart>-->
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card-container">
      <mat-card>
        <mat-card-header>
          <mat-icon matCardAvatar>battery_charging_full</mat-icon>
          <mat-card-title style="text-align: center">
            Ladeleistung
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-spinner *ngIf="batteryChargingPowerValues.length < 1" mode="indeterminate"></mat-spinner>
<!--          <ngx-charts-area-chart-->
<!--            *ngIf="batteryChargingPowerValues.length >=1"-->
<!--            [scheme]="powerColorScheme"-->
<!--            [legend]="legend"-->
<!--            [showYAxisLabel]="showYAxisLabel"-->
<!--            [xAxis]="xAxis"-->
<!--            [yAxis]="yAxis"-->
<!--            [yAxisLabel]="yAxisPowerLabel"-->
<!--            [timeline]="timeline"-->
<!--            [results]="batteryChargingPowerValues"-->
<!--            [activeEntries]="batteryChargingPowerValues"-->
<!--            [animations]="animations"-->
<!--            [gradient]="true"-->
<!--            (select)="onSelect($event)"-->
<!--            (activate)="onActivate($event)"-->
<!--            (deactivate)="onDeactivate($event)"-->
<!--          >-->
<!--          </ngx-charts-area-chart>-->
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card-container">
      <mat-card>
        <mat-card-header>
          <mat-icon matCardAvatar>show_chart</mat-icon>
          <mat-card-title style="text-align: center">
            Verbrauch aus Speicher
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-spinner *ngIf="consumptionValues.length < 1" mode="indeterminate"></mat-spinner>
<!--          <ngx-charts-area-chart-->
<!--            *ngIf="consumptionValues.length >=1"-->
<!--            [scheme]="consumptionColorScheme"-->
<!--            [legend]="legend"-->
<!--            [showYAxisLabel]="true"-->
<!--            [xAxis]="xAxis"-->
<!--            [yAxis]="yAxis"-->
<!--            [yAxisLabel]="yAxisConsumptionLabel"-->
<!--            [timeline]="timeline"-->
<!--            [results]="consumptionValues"-->
<!--            [activeEntries]="consumptionValues"-->
<!--            [animations]="animations"-->
<!--            [gradient]="true"-->
<!--            (select)="onSelect($event)"-->
<!--            (activate)="onActivate($event)"-->
<!--            (deactivate)="onDeactivate($event)"-->
<!--          >-->
<!--          </ngx-charts-area-chart>-->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="card-container">
      <mat-card>
        <mat-card-header>
          <mat-icon matCardAvatar>battery_unknown</mat-icon>
          <mat-card-title style="text-align: center">
            Aktueller Akkustand
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-spinner *ngIf="pieChartData.datasets.length < 1" mode="indeterminate"></mat-spinner>
          <canvas *ngIf="pieChartData.datasets.length > 0"
            baseChart
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="pieChartOptions"
          >
          </canvas>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card-container">
      <mat-card>
        <mat-card-header>
          <mat-icon matCardAvatar>information</mat-icon>
          <mat-card-title style="text-align: center">
            Informationen
          </mat-card-title>
        </mat-card-header>
        <mat-spinner *ngIf="!latestValue" mode="indeterminate"></mat-spinner>
        <mat-card-content *ngIf="latestValue">
          <p [ngStyle]="{color: latestValue.batteryChargingPower < 0 ? '#a83849':'#4cf394' }">Aktuelle Ladeleistung:
            {{ latestValue.batteryChargingPower > 0 ? "Wird mit " + mathService.round(latestValue.batteryChargingPower / 1000, 2) + " kW geladen" : "Wird mit " + latestValue.batteryChargingPower + "W entladen" }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
