<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <button mat-button [routerLink]="'/home'"><mat-icon>home</mat-icon> Home</button>
      <button mat-button [matMenuTriggerFor]="batteryMenu"><mat-icon>assessment</mat-icon> Statistiken</button>
      <mat-menu #batteryMenu="matMenu">
        <button mat-menu-item [routerLink]="'/pv'"><mat-icon>wb_sunny</mat-icon> PV</button>
        <button mat-menu-item [routerLink]="'/battery'"><mat-icon>battery_full</mat-icon> Speicher</button>
        <button mat-menu-item [routerLink]="'/consumption'"><mat-icon> pie_chart</mat-icon> Verbrauch</button>
      </mat-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Lightbringer</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
