<mat-sidenav-container class="sidenav-container" style="padding: 5px">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      Menü
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemLine>Home</span>
      </a>
      <a mat-list-item [matMenuTriggerFor]="batteryMenu">
        <mat-icon matListItemIcon>assessment</mat-icon>
        <span matListItemLine>Statistiken</span>
      </a>
      <mat-menu #batteryMenu="matMenu">
        <a mat-list-item [routerLink]="'/pv'">
          <mat-icon matListItemIcon>wb_sunny</mat-icon>
          <span matListItemLine>PV</span>
        </a>
        <a mat-list-item [routerLink]="'/battery'">
          <mat-icon matListItemIcon>battery_full</mat-icon>
          <span matListItemLine>Speicher</span>
        </a>
        <a mat-list-item [routerLink]="'/consumption'">
          <mat-icon matListItemIcon>pie_chart</mat-icon>
          <span matListItemLine>Verbrauch</span>
        </a>
      </mat-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <ng-container style="width: 200px; height: 200px">
      </ng-container>
    </mat-toolbar>
    <mat-grid-list cols="1" rowHeight="200px">
      <mat-grid-tile>
        <img ngSrc="assets/sicas_logo.png" height="200" width="200" alt="logo"/>
      </mat-grid-tile>
    </mat-grid-list>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
