<div class="flex-container" fxLayout="column"
     fxLayoutAlign="center center" style="max-height: 80vh">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
    <div fxFlex>
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>wb_sunny</mat-icon>
          <mat-card-title>
            Hausverbrauch
          </mat-card-title>
          <mat-card-subtitle>
            <small>{{startOfDay | date:'dd.MM.yyyy hh:mm a'}} - {{endOfDay | date:'dd.MM.yyyy hh:mm a'}}</small>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-spinner color="secondary" mode="indeterminate" *ngIf="lineChartData.datasets.length < 1">
          </mat-spinner>
          <canvas *ngIf="lineChartData.datasets.length > 0"
            baseChart
            [data]="lineChartData"
            [options]="lineChartOptions"
            [type]="lineChartChartType"
          ></canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
